$button-bgcolor: #007bff;
$header-background-color: #343a40;
$link-color: #007bff;
$button-color: white;

.change-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;

  &__content {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: space-between;
  }

  &__label {
    flex: 0 0 200px;
    margin-right: 1rem;
  }

  &__input {
    flex: 1;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
  }

  .save-button {
    margin-top: 20px;
    padding: 0.5rem 1rem;
    background-color: $button-bgcolor;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #91c6ff;
    }
  }
}

.buttons-place {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
