@import '../../assets/variables';

.profile-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  &__name {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;;

    &__label {
      font-weight: bold;
      text-align: left;
    }

    &__value {
      text-align: right;
    }
  }
}
