<div class="profile-page">
  <div class="profile-page__back-button">
    {{> Link page="profile" text="Назад" className="profile-page__back-link"}}
  </div>
  <div class="profile-page__content">
    <div class="profile-page__header">
      {{!-- <img src="https://cdn.fishki.net/upload/post/2018/01/26/2494216/tn/56f54d86132943dce7f8598753d8a8a0.jpg" alt="Profile Photo" class="profile-page__photo"> --}}
      <img alt="Profile Photo" class="profile-page__photo">
    </div>
    <div class="profile-info">
      <h1 class="profile-info__name">Изменить пароль</h1>
      <div class="profile-info__item">
        <span class="profile-info__label">Старый пароль:</span>
        <input type="oldPassword" class="profile-info__value" placeholder="*****">
      </div>
      <div class="profile-info__item">
        <span class="profile-info__label">Новый пароль:</span>
        <input type="newPassword" class="profile-info__value" placeholder="*****">
      </div>
      <div class="profile-info__item">
        <span class="profile-info__label">Повторить пароль:</span>
        <input type="newPassword" class="profile-info__value" placeholder="*****">
      </div>
    </div>
    <div class="profile-page__actions">
    {{> Button class="profile-page__link profile-page__link--save" text="Сохранить" page="profile" }}
    </div>
  </div>
</div>
