<div class="error-page">
  <h1>500 - Внутренняя ошибка сервера</h1>
  <p>К сожалению, произошла ошибка на сервере. Пожалуйста, попробуйте позже.</p>
  {{> Link page="/" text="Вернуться на главную" className="error-page__link"}}
</div>
