<div class="profile-page">
  <div class="profile-page__back-button">
    {{> Link page="chat" text="Назад" className="profile-page__back-link"}}
  </div>
  <div class="profile-page__content">
    <div class="profile-page__header">
      <img src="https://cdn.fishki.net/upload/post/2018/01/26/2494216/tn/56f54d86132943dce7f8598753d8a8a0.jpg" alt="Profile Photo" class="profile-page__photo" id="profile-photo">
    </div>
    {{> ProfileInfo name=this.name items=this.profileItems }}
    <div class="profile-page__actions">
      {{> Link page="change" text="Изменить данные" className="profile-page__link"}}
      {{> Link page="change-password" text="Изменить пароль" className="profile-page__link"}}
      {{> Link page="login" text="Выйти" className="profile-page__link profile-page__link--logout"}}
    </div>
  </div>
  <div id="modal-container"></div>
</div>






