@import '../../assets/variables';

.link {
  font-family: Inter, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  width: 100%;
  text-align: center;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
